[Unit]
Description=Podman container-castopod-web.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
Type=notify
NotifyAccess=all

ExecStartPre=/bin/rm -f %t/%n.ctr-id

ExecStart=/usr/bin/podman run \
	--cidfile=%t/%n.ctr-id \
	--cgroups=no-conmon \
	--rm \
	--sdnotify=conmon \
	--replace \
	--publish {{ castopod_publish_http }}:80/tcp \
	--publish {{ castopod_publish_https }}:443/tcp \
	--detach \
	--tty \
	--label "io.containers.autoupdate=registry" \
	--volume {{ castopod_web_media_volume }}:/var/www/html/media:Z \
	--network=castopod-app \
	--env CP_APP_HOSTNAME=castopod-app \
	--name=castopod-web \
	{{ castopod_web_image_name }}:{{ castopod_web_image_tag }}

ExecStop=/usr/bin/podman stop \
	--ignore \
	--cidfile=%t/%n.ctr-id

ExecStopPost=/usr/bin/podman rm \
	--force \
	--ignore \
	--cidfile=%t/%n.ctr-id

[Install]
WantedBy=default.target
