[Unit]
Description=Podman container-ghost-app.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
Type=notify
NotifyAccess=all

ExecStartPre=/bin/rm -f %t/%n.ctr-id

ExecStart=/usr/bin/podman run \
	--cidfile=%t/%n.ctr-id \
	--cgroups=no-conmon \
	--rm \
	--sdnotify=conmon \
	--replace \
	--publish {{ ghost_publish_http }}:2368/tcp \
	--detach \
	--tty \
	--label "io.containers.autoupdate=registry" \
	--volume ghost-app:/var/lib/ghost/content/:Z \
	--network=ghost \
	--env database__client=mysql \
	--env database__connection__host=ghost-db \
	--env database__connection__user={{ ghost_db_user }} \
	--env database__connection__password={{ ghost_db_pass }} \
	--env database__connection__database={{ ghost_db_name }} \
	--env url="http://localhost:{{ ghost_publish_http }}" \
	--name=ghost-app \
	{{ ghost_app_image_name }}:{{ ghost_app_image_tag }}

ExecStop=/usr/bin/podman stop \
	--ignore \
	--cidfile=%t/%n.ctr-id

ExecStopPost=/usr/bin/podman rm \
	--force \
	--ignore \
	--cidfile=%t/%n.ctr-id

[Install]
WantedBy=default.target
